#header
{
    background-color: rgb(33, 38, 58);
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 66px;
    padding-right: 75px;
    /* border-bottom: 1px solid rgba(53, 53, 53,0.7); */
    border: none;
    z-index: 1;
    transition: 0.3s;
}


.line
{
    height: 2px;
    width: 22px;
    background-color: white;
    margin-bottom: 5px;
}

.logo
{
    height: 25px;
    width: 130px;
}

.logo:hover
{
    cursor: pointer;
}

.sign-up
{
    color: rgb(255, 255, 255);
    background-color: rgb(130, 149, 255);
    border: none;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: mainfont;
    font-weight: 100;
    transition: background-color 0.3s;
}

.sign-up:hover
{
    cursor: pointer;
    background-color: rgb(98, 122, 255);
    transition: background-color 0.3s;
}

/* .profile-image
{
    height: 34px;
    width: 34px;
    height: 40px;
    width: 40px;
    border-radius:100px;
}

.profile-image:hover
{
    cursor: pointer;
}

.profile-section
{
    position: relative;
}


.profile-section:hover .profile-dropdown
{
    opacity: 1;
    pointer-events: all;
}


.profile-dropdown
{
    background-color: rgb(12, 12, 12);
    color: white;
    position: absolute;
    left: -160px;
    top: 50px;
    height: min-content;
    width: max-content;
    padding-top: 10px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.45s;
    pointer-events: none;
}

.profile-dropdown-menus
{
    font-weight: 100;
    font-size:17px;
    word-spacing: -2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgb(37, 37, 37);
    padding-left: 30px;
    padding-right: 34px;
    color: rgb(226, 226, 226);
    transition: background-color 0.55s;
}

.profile-dropdown-menus:hover
{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}


.profile-dropdown-menus-top
{
    font-weight: 100;
    font-size:17px;
    word-spacing: -2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 34px;
    color: rgb(226, 226, 226);
    transition: background-color 0.55s;
}

.profile-dropdown-menus-top:hover
{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
} */

@media (max-width:875px)
{
    /* .profile-dropdown
    {
        left: -150px;
        top: 50px;
    }

    .profile-dropdown-menus
    {
        font-size: 17px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .profile-dropdown-menus-top
    {
        font-size: 17px;
        padding-top: 18px;
        padding-bottom: 18px;
    } */

    .header
    {
        padding-right: 60px;
        padding-left: 56px;
    }

}

@media (max-width:720px)
{
    /* .profile-dropdown
    {
        left: -135px;
        top: 50px;
    }

    .profile-dropdown-menus
    {
        font-size: 15px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .profile-dropdown-menus-top
    {
        font-size: 15px;
        padding-top: 16px;
        padding-bottom: 16px;
    } */

    .header
    {
        padding-right: 30px;
        padding-left: 26px;
    }
}

.menu-item
{
    list-style: none;
    font-family: mainfont;
    font-weight: 100;
    transition: color 0.2s;
}

.hamburger-menu
{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 530px;
    font-size: 16px;
    user-select: none;
    margin-right: 220px;
}

.menu-item:hover
{
    color: rgb(165, 178, 255);
    cursor: pointer;
    transition: color 0.2s;
}